body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#app {
    text-align: center;
}

#loremIpsum {
    width: 300px;
    height: 200px;
    margin-top: 20px;
}
